/* Estilos del título */
.titulo {
    font-family: 'Roboto', sans-serif;
    background-color: #add8e6;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/* Estilos del menú */
.menu {
    background-color: #333;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

.menu:hover {
    width: 200px;
}

/* Barras del menú */
.barra {
    background-color: #fff;
    width: 20px;
    height: 3px;
    margin: 4px 0;
}

/* Opciones del menú */
.opciones {
    display: none;
    text-align: center;
    width: 100%;
}

.menu:hover .opciones {
    display: block;
}

.opciones a {
    display: block;
    padding: 10px;
    border: 1px solid #eee;
    color: #fff;
    text-decoration: none;
}

.opciones a:hover {
    background-color: #eee;
    color: #333;
}

/* Contenedor de la sección "Empresa" */
.contenedor {
    background-image: url("https://th.bing.com/th/id/R.a2f259bd449a721ec34886006ea37399?rik=m0ZU6suFYnOvFw&riu=http%3a%2f%2fwww.fondox.net%2fwallpapers%2ffotografia-hdr-de-edificios-3178.jpg&ehk=gh49JalOaQG%2f8Wgsk2XxCGeA3ciCbxxujuebxzEwbVQ%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

/* Estilos del footer */
footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: #add8e6;
    color: #000000;
}

/* Para empresa */
/* A continuación, se encuentran los estilos específicos para la sección "Empresa" */
/* ... */

/* Estilos del contenedor */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de la fila */
.row {
    display: flex;
    align-items: center;
}

/* Estilos de las columnas */
.col-md-6 {
    width: 50%;
}

/* Estilos de la imagen */
.img-fluid {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 40px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    border: 5px solid black;
    border-radius: 20px;
}

/* Estilos del título */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #e9a4ff;
}

/* Estilos del párrafo */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #999999;
}
